body{
    background-color: black;
}

.all{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: white;
    width: 50%;
    margin-left: 25%;
}

img{
    border: 5px solid white;
    width: 100%;
}